@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 shadow-inner shadow-gray-400
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red-500 shadow-md;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-600;
  }

  ::-webkit-scrollbar-thumb:active {
    @apply bg-red-700;
  }
}

@layer components {
  .pattern {
    height: 100%;
    background-image: repeating-linear-gradient(
      var(--card-color, white) 0px,
      var(--card-color, white) 24px,
      var(--line-accent, teal) 25px
    );
  }

  .flip-card {
    transition: all 700ms;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-color: transparent;
  }

  .flip-card.flipped {
    transform: rotateY(180deg);
    z-index: 100;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}
