@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  body,
  #__next {
    @apply flex flex-col flex-1;
    @apply h-auto min-h-full w-screen max-w-full;
    @apply m-0 p-0;
    @apply overflow-y-auto overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 shadow-inner shadow-gray-400;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 shadow-md;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  ::-webkit-scrollbar-thumb:active {
    @apply bg-gray-600;
  }
}

@layer components {
  .pattern {
    height: 100%;
    background-image: repeating-linear-gradient(
      var(--card-color, white) 0px,
      var(--card-color, white) 23px,
      var(--line-accent, teal) 24px
    );
  }

  .flip-card {
    transition: all 700ms;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-color: transparent;
  }

  .flip-card.flipped {
    transform: rotateY(180deg);
    z-index: 100;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}
